/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: inherit;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  color: #231f20;
  max-width: 100%;
  height: 100%;
  /* 	font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1920 - 300))); */
  font-size: calc(16px + (20 - 16) * ((100vw - 360px) / (1920 - 360)));
  line-height: 1.55em;
}

@media (min-width: 1921px) {
  html {
    font-size: calc(20px + (32 - 20) * ((100vw - 1920px) / (3840 - 1920)));
  }
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
}

section {
  width: 100%;
}

img {
  height: 100%;
  width: 100%;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

a {
  color: #ff3d54;
}
a:hover {
  color: #3dffe8;
}

.article img {
  padding: 2rem 0 0 0;
}
.article .carousel-wrap {
  padding: 2rem 0;
}

.footer {
  background-color: #231f20;
}
.footer a {
  color: #fff;
}
.footer a:hover {
  color: #ff3d54;
}

@media (max-width: 768px) {
  section {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .article img {
    max-width: 80vw;
  }
}
h1 {
  font-weight: 700;
  font-size: 4.25rem;
  line-height: 5.0625rem;
  margin-top: 1.6875rem;
  margin-bottom: 1.6875rem;
}

h2 {
  font-weight: 700;
  font-size: 2.625rem;
  line-height: 3.375rem;
  margin-top: 1.6875rem;
  margin-bottom: 1.6875rem;
}

h3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-top: 1.6875rem;
  margin-bottom: 1.6875rem;
}

h4 {
  font-weight: 700;
  font-size: 1.675rem;
  line-height: 2rem;
  margin-top: 1.6875rem;
  margin-bottom: 1.6875rem;
}

h5 {
  font-weight: 700;
  font-size: 1.45rem;
  line-height: 1.6875rem;
  margin-top: 1.6875rem;
  margin-bottom: 0rem;
}

h6 {
  font-weight: 500;
  font-style: italic;
  font-size: 0.9rem;
  line-height: 1.6875rem;
  margin-top: 1.6875rem;
  margin-bottom: 0rem;
}

hr {
  border: 1px solid rgba(35, 31, 32, 0.5);
  margin: -1px 0;
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
  height: 1px;
  border: 0;
  background-color: rgba(35, 31, 32, 0.5);
  text-align: inherit;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  line-height: 1.8875rem;
}

.education h5 {
  margin-top: -1.3rem;
  font-weight: 500;
}
.education h6 {
  margin-top: 0;
}

.list h4, .list h6 {
  margin-bottom: -1rem;
}
.list h4 {
  margin-top: 3rem;
}
.list h4:first-of-type {
  margin-top: 1rem;
}

.work-xp h6 {
  margin-bottom: 1rem;
}
.work-xp ul {
  margin-left: 20px;
  line-height: 2rem;
  font-size: 0.818rem;
}

.article-callout {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  line-height: 2.1rem;
  padding: 1rem;
}

.article h2, .article h3, .article h4, .article h5, .article h6 {
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}

.super {
  font-size: 6vw;
  margin-bottom: -6rem;
}

.cut {
  width: 100%;
  position: inherit;
  margin-bottom: -2rem;
}

.cut-txt {
  position: relative;
  line-height: 1;
  font-weight: 900;
  letter-spacing: 1px;
}
.cut-txt::after {
  content: "";
  display: block;
  height: 0.5em;
  width: inherit;
  position: relative;
  top: -0.2em;
  left: 0;
  background: #fff;
}

.overline {
  position: inherit;
  /*outline: 1px solid white;*/
  text-decoration: overline #ff3d54;
  -webkit-text-decoration: overline #ff3d54;
  margin-bottom: -1rem;
}

.overline-txt {
  position: relative;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
}

.underline {
  width: 100%;
  position: inherit;
  /*outline: 1px solid white;*/
  text-decoration: underline #ff3d54;
  margin-bottom: -1rem;
}

.underline-txt {
  position: relative;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 1px;
}

.outline {
  color: #fff;
  text-shadow: -1px -1px 0 #ff3d54, 1px -1px 0 #ff3d54, -1px 1px 0 #ff3d54, 1px 1px 0 #ff3d54;
}

.img-cap {
  margin-top: -2rem;
  margin-bottom: 1rem;
  font-style: italic;
  font-size: 0.75rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 1rem;
    line-height: 1.8875rem;
  }

  .super {
    font-size: 15vw;
  }

  .overline {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1921px) {
  .super {
    font-size: 5vw;
  }
}
header {
  width: 100vw;
}

.navbar {
  font-size: 18px;
  padding-bottom: 10px;
  height: 90px;
  z-index: 2;
  position: relative;
  margin: 0 auto;
}

#main-nav {
  height: 0vh;
  max-height: 0px;
  margin-top: -10vh;
  overflow: hidden;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;
  z-index: 2;
  background: rgba(17, 17, 17, 0.8);
  transition: max-height 0.5s ease-out;
}

.footer #main-nav {
  background: transparent;
  height: 100%;
  max-height: 100%;
  width: 100%;
  font-size: 1.5rem;
}

#body {
  overflow: visible;
}

#body.active {
  overflow: hidden;
}

#main-nav.active {
  height: 100vh;
  top: -1vh;
  max-height: 100vh;
  transition: max-height 0.5s ease-out;
}

#main-nav li {
  text-align: center;
  margin: 0 auto;
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: 700;
}

.nav-links, #logo {
  text-decoration: none;
  fill: #231f20;
  color: #fff;
}

.nav-links:hover {
  color: #ff3d54;
}

#logo {
  color: #231f20;
  fill: #231f20;
  display: flex;
  padding: 1rem;
}
#logo:hover {
  fill: #ff3d54 !important;
}

#navbar-toggle {
  position: absolute;
  right: 20px;
  cursor: pointer;
  color: #231f20;
  font-size: 24px;
  z-index: 4;
  padding: 1rem 0;
}

#navbar-toggle:hover {
  color: #ff3d54;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}

nav ul li a,
nav ul li a {
  position: relative;
}

nav ul li a:after,
nav ul li a:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #ff3d54;
  height: 4px;
}

nav ul li a:hover:after {
  width: 100%;
}

@media screen and (min-width: 769px) {
  .navbar {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    width: calc((100vw * .618) + 4rem);
    box-shadow: none;
  }

  #main-nav {
    height: 100%;
    max-height: 80px;
    display: flex !important;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
    transition: 0.5s;
    overflow: visible;
    margin-top: auto;
  }

  #main-nav li {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 700;
  }

  .nav-links {
    margin-left: 40px;
    color: #231f20;
  }

  #logo {
    margin-top: 0;
    padding: 0;
    font-size: 1rem;
    color: #231f20;
  }

  .footer #logo {
    fill: #fff;
  }

  #logo:hover {
    color: #ff3d54;
    fill: #ff3d54;
  }
  #logo:hover #svg-logo {
    fill: #ff3d54;
  }

  #navbar-toggle {
    display: none;
  }
}
@media (min-width: 1921px) {
  .navbar {
    width: calc((100vw * 0.618) + 4rem);
    max-width: 100%;
  }
}
/*BUTTONS*/
.btn-prime,
.btn-sub {
  font-weight: 700;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  margin: 0.5rem 1rem 0.5rem 0;
  text-align: center;
  text-decoration: none;
  -webkit-transition: ease 0.4s;
  -o-transition: ease 0.4s;
  transition: ease 0.4s;
  padding: 0.5rem;
  max-height: 60px;
  max-width: 100%;
}

.btn-prime {
  font-size: 1rem;
}

.btn-sub {
  font-size: 1.25em;
}

@media screen and (max-width: 768px) {
  .btn-prime,
.btn-sub {
    width: 100%;
    margin: 0.5rem 0;
  }
}
/*btn-solid--red special case since default a tags have red text for visited*/
.btn-solid--light, .btn-solid--dark {
  background: #ff3d54;
  border: solid #ff3d54 2px;
}

.btn-border--dark,
.btn-solid--dark:hover {
  color: #fff !important;
}

.btn-border--dark:hover,
.btn-solid--light,
.btn-solid--dark {
  color: #fff !important;
}

.navbar-toggle.btn-solid--light button:focus {
  color: #fff;
  border-color: #ff3d54;
}

.btn-border--light,
.btn-border--red:hover,
.btn-border--red,
.btn-solid--light:hover {
  color: #231f20 !important;
}

.btn-border--red {
  border: solid #ff3d54 2px;
}

.btn-border--light {
  border: solid #231f20 2px;
}

.btn-border--red:hover {
  border: solid #231f20 2px;
  background: transparent;
  color: #231f20;
}

.btn-border--light:hover {
  border: solid #231f20 2px;
  background: #231f20;
  color: #fff !important;
}

.btn-border--dark,
.btn-border--dark:hover,
.btn-solid--dark:hover {
  border: solid #fff 2px;
}

.btn-solid--dark {
  border: solid #231f20 2px;
}

.btn-solid--dark:hover {
  background: transparent;
}

.btn-border--red:hover {
  background: #ff3d54;
}

.btn-border--red,
.btn-border--dark,
.btn-border--light {
  background: transparent;
}

a.btn-border--dark:visited,
a.btn-solid--light:visited,
a.btn-border--light:visited,
a.btn-border--red:visited,
a.btn-solid--dark:visited {
  text-decoration: underline;
}

.hovereffect {
  width: 100%;
  height: auto;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
}
.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.hovereffect img {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 100%;
}
.hovereffect img {
  display: block;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
.hovereffect:hover img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

label[for] {
  cursor: pointer;
}

input[type=checkbox] {
  display: none;
}

.lightbox {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.lightbox {
  z-index: 1;
  min-height: 100%;
  overflow: auto;
  transform: scale(0);
  transition: opacity 0.25s ease-out;
  opacity: 0;
}

.img-shrink {
  max-height: 40vh;
  width: auto;
}

.lightbox img {
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  max-width: 80vw;
  max-height: 80vh;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
  padding: 0;
}

input[type=checkbox]:checked + .lightbox {
  transform: scale(1);
  opacity: 1;
  background-color: rgba(35, 31, 32, 0.7);
}

/*LAYOUT*/
.container {
  margin: 0 auto;
  width: calc((100vw * 0.618) + 4rem);
  max-width: 100%;
  padding: 4rem 0;
}

.post-container {
  margin: 0 auto;
  width: calc((100vw * 0.418) + 4rem);
  max-width: 100%;
  padding: 1rem 0;
  flex-direction: column;
}

.dark {
  background-color: #231f20;
  color: #fff;
}

@media (max-width: 767px) {
  .container {
    margin: 0 auto;
    width: calc((100vw * 0.918) + 4rem);
    max-width: 100%;
  }

  .post-container {
    margin: 0 auto;
    width: calc((100vw * 0.918) + 4rem);
    max-width: 100%;
  }

  main > * {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 3em;
  /*overflow: hidden;*/
}

.flex-reverse .column {
  margin-right: 0;
  margin-left: 3em;
}

.flex-reverse .column:last-child {
  margin-left: 0em;
}

.column hr {
  width: 4em;
  margin-top: 1em;
  border-top: 4px solid #ff3d54;
}

.column > .column {
  margin: 0 0 1em 0;
}

.column > .column:last-child {
  margin-bottom: 0;
}

.column:last-child {
  margin-right: 0;
}

.flex-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

/* Flex Containers */
/* .container {
    margin: 0 auto;
    width: calc( ( (100vw / 5) * 4) - 4em);
}
@media screen and (max-width: 768px) {
    .container {
        width: calc(100vw - 2em);
    }
} */
/* old container */
/* .hero-container--small {
    margin: 0 auto;
    width: 1170px;
    padding: 4em;
}
@media screen and (max-width: 768px) {
    .hero-container--small,
    .hero-container--large {
        max-width: 100%;
        padding: 4em;
    }
} */
.card {
  display: flex;
  padding: 1rem;
  background-color: #fff;
  margin-bottom: 1rem;
  margin-right: 1rem;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
}
.card h5, .card h4 {
  margin: 0;
}

@media (min-width: 992px) and (max-width: 1170px) {
  .hero-container--small {
    width: 970px;
  }
}
.hero-col {
  padding-right: 2em;
  max-width: 600px;
}

@media screen and (max-width: 1024px) {
  .hero-col,
.flex-reverse .hero-col,
.hero-container,
.hero-container--small {
    padding: 2em;
    width: 100%;
    max-width: 100%;
  }
}
.hero-col hr {
  width: 10em;
  height: 0;
  text-align: left;
  margin: 1em 0;
  border-top: 1px solid;
  color: inherit;
}

/* these need different math */
.one {
  max-width: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.two {
  max-width: calc( (100% - 3em) / 2);
  -ms-flex-preferred-size: calc( (100% - 3em) / 2);
  flex-basis: calc( (100% - 3em) / 2);
}

.three {
  max-width: calc( (100% - 2em) / 3);
  -ms-flex-preferred-size: calc( (100% - 4em) / 3);
  flex-basis: calc( (100% - 6em) / 3);
}

.four {
  max-width: calc( (100% - 2em) / 4);
  -ms-flex-preferred-size: calc( (100% - 9em) / 4);
  flex-basis: calc( (100% - 9em) / 4);
}

.five {
  max-width: calc( (100% - 12em) / 5);
  -ms-flex-preferred-size: calc( (100% - 12em) / 5);
  flex-basis: calc( (100% - 12em) / 5);
}

.six {
  max-width: calc( (100% - 15rem) / 6);
  -ms-flex-preferred-size: calc( (100% - 15rem) / 6);
  flex-basis: calc( (100% - 15rem) / 6);
}

@media screen and (max-width: 500px) {
  .two-mobile {
    width: 100%;
    /*   fallback */
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-right: 0;
  }

  .three-mobile {
    width: 100%;
    /*   fallback */
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-right: 0;
  }
}
._2x {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

._3x {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

._4x {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

._5x {
  -webkit-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
}

._6x {
  -webkit-box-flex: 6;
  -ms-flex: 6;
  flex: 6;
}

@media screen and (max-width: 768px) {
  ._2x,
._3x,
._4x,
._5x,
._6x {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
  }
}
@media screen and (max-width: 1023px) {
  .card-img {
    width: 100%;
    height: auto;
  }

  .first-mobile {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
}
.masonry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 50vw;
  max-height: 550px;
  overflow: hidden;
}

.masonry img {
  max-width: 100%;
  max-height: 516px;
  margin: 8px;
}

@media screen and (max-width: 1024px) {
  .masonry {
    height: 100vw;
    -webkit-box-align: space-around;
    -ms-flex-align: space-around;
    align-items: space-around;
    max-height: 400px;
  }

  .masonry img {
    max-height: 50%;
    margin: 6px;
  }
}
@media screen and (max-width: 768px) {
  .masonry {
    height: 100vw;
    -webkit-box-align: space-around;
    -ms-flex-align: space-around;
    align-items: space-around;
    max-height: 200px;
  }

  .masonry img {
    max-height: 50%;
    margin: 6px;
  }
}
/*FLEX ALIGNMENT*/
.vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.perfect-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* Align Items (Main Axis) */
.jc-c {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.jc-fs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.jc-fe {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.jc-sa {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.jc-sb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.jc-se {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

/* Align Items (Cross Axis) */
.ai-fs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -ms-grid-row-align: flex-start;
  align-items: flex-start;
}

.ai-fe {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -ms-grid-row-align: flex-end;
  align-items: flex-end;
}

.ai-c {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.ai-sa {
  -webkit-box-align: space-around;
  -ms-flex-align: space-around;
  align-items: space-around;
}

.ai-sb {
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
}

.ai-se {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

/* Align Items (self) */
.as-fs {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.as-fe {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.as-fs {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.as-c {
  -ms-flex-item-align: center;
  align-self: center;
}

.as-bl {
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

/*UTILITIES*/
.show-mobile {
  display: none;
}

.rounded {
  border-radius: 1em;
}

.vertical-divider {
  border-right: 1px solid #e9e9e9;
  height: 70%;
  padding-right: 20px;
}

.project-hero {
  height: 60vh;
  padding: 0;
}

.card-title {
  z-index: 1;
  text-align: center;
  color: #fff;
  max-width: 800px;
}

.project-hero-image {
  position: relative;
}

@media all and (min-width: 40em) {
  .card {
    width: 50%;
    margin-right: 1rem;
  }
}
@media all and (min-width: 60em) {
  .card {
    width: 33.33%;
  }
}
.card p {
  flex: 1 0 auto;
}

.big-break {
  padding: 2rem 0;
}

.sm-break {
  padding: 1.2rem 0;
}

.project-hero-image:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-flex;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.border-right {
  border-right: 0.5px solid rgba(35, 31, 32, 0.5);
}

@media screen and (max-width: 999px) {
  .two:nth-child(2n),
.three:nth-child(3n),
.four:nth-child(4n),
.five:nth-child(5n),
.six:nth-child(6n) {
    margin-right: 0;
  }

  .flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .column,
.flex-reverse .column {
    margin-right: 0;
    margin-left: 0;
  }

  .column,
.two,
.three,
.four {
    max-width: 100%;
    width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: auto;
  }

  .two-tablet {
    width: 45%;
    /*   fallback */
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    margin-right: 0;
  }

  .three-tablet {
    width: 30%;
    /*   fallback */
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    margin-right: 0;
  }

  .vertical-divider {
    border-right: 0px;
    padding-right: 0px;
  }

  .hide-mobile {
    display: none;
  }

  .show-mobile {
    display: block;
  }

  .project-hero {
    height: 80vh;
    padding: 0;
  }

  .card {
    margin-right: 0;
  }
}

/*# sourceMappingURL=main.css.map */
